.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.title {
  padding-left: 50px;
  color: blue;
}

.notes-container {
   display: grid;
   padding: 70px;
   margin-left: 70px;
   width: 100vw;
   height: 100vh;
   
}
.form-note {
  align-self: center;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}
